[submodule "fonts"]
	path = include.d-libs/fonts/powerline
	url = https://github.com/powerline/fonts.git
[submodule "bright"]
	path = include.d-libs/bright
	url = https://github.com/src-run/bright-library.git
[submodule "include.d-libs/oh-my-zsh"]
	path = include.d-libs/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "include.d-omzc/zsh-autosuggestions"]
	path = include.d-libs/oh-my-zsh-custom/plugins/auto-suggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "include.d-omzc/zsh-syntax-highlighting"]
	path = include.d-libs/oh-my-zsh-custom/plugins/syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "include.d-libs/oh-my-zsh-plugins/wakatime"]
	path = include.d-libs/oh-my-zsh-custom/plugins/wakatime
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule "include.d-libs/oh-my-zsh-plugins/history-substring-search"]
	path = include.d-libs/oh-my-zsh-custom/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "include.d-libs/oh-my-zsh-custom/themes/powerlevel10k"]
	path = include.d-libs/oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "include.d-libs/fonts/nerd"]
	path = include.d-libs/fonts/nerd
	url = https://github.com/ryanoasis/nerd-fonts.git
